.top-bar {
  color: $white;
  font-size: 18px;
  a {
    color: $white;
  }
  @include breakpoint(medium) {
    z-index: 1;
    position: fixed;
    width: 100%;
  }
  @include breakpoint(small only) {
    background-color: transparentize($black, .5);
    color: $white;
  };
}

.top-bar-left {
  @include breakpoint(small only) {
    border-bottom: 2px dashed $white;
  }
}

.title-bar {
  background: transparent;
}

.top-bar__submenu {
  li {
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    &:hover {
      border-bottom: 2px solid $neon-green;
    }
    @include breakpoint(small only) {
      color: $white;
    }
  }
}

.menu-text {
  @include breakpoint(small only) {
    width: 100%;
    text-align: center;
  }
}
