.top-bar {
  position: fixed;
  width: 100%;
  color: $white;
  font-size: 18px;
  a {
    color: $white;
  }
  @include breakpoint(small only) {
    opacity: 1;
  };
}

.top-bar__submenu {
  li {
    @include breakpoint(small only) {
      display: inline-block;
      width: 100%;
    }
  }
}
