<div class="column">
    <div class="card" data-equalizer-watch>
        <div class="content">
            <span class="title">Godziny otwarcia</span>
            <p><b>poniedziałek: </b>9 - 17</p>
            <p><b>wtorek: </b>9 - 17</p>
            <p><b>środa: </b>9 - 17</p>
            <p><b>czwartek: </b>9 - 17</p>
            <p><b>piątek: </b>9 - 17</p>
            <p><b>sobota: </b>9 - 15</p>
        </div>
    </div>
</div>

<div class="column">
    <div class="card" data-equalizer-watch>
        <div class="content">
            <span class="title">Dane kontaktowe</span>
            <p><b><i class="fa fa-envelope" aria-hidden="true"></i></b> kontakt@edualabs.pl</p>
            <p><b><i class="fa fa-phone" aria-hidden="true"></i></b> 22 333 22 22</p>
            <p><b><i class="fa fa-mobile" aria-hidden="true"></i></b> 333 333 333</p>
        </div>
    </div>
</div>
