<form class="contact-form">
  <div class="row">
    <div class="small-12 medium-6 columns">
      <input type="text" class="form__input" placeholder="Imię i nazwisko">
    </div>
    <div class="small-12 medium-6 columns">
      <input type="email" class="form__input" placeholder="Adres email">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input type="text" class="form__input form__input--message" placeholder="Treść wiadomości">
      <a class="button success expanded" href="#">Wyślij</a>
    </div>
  </div>
</form>
