<div class="row faq__section expanded align-center">
  <div class="column small-12 medium-7">
    <h3 class="faq__header">Często zadawane pytania:</h3>
    <br>
    <ul class="accordion accordion--material" data-accordion>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;
          Kiedy zwrócić się o konsultację i pomoc pedagogiczną?</a>
        <div class="accordion-content" data-tab-content>
          <ul class="fa-ul accordion-list">
            <li><i class="fa-li fa fa-caret-right neon-pink"></i>
              Jeśli dziecko niechętnie chodzi do szkoły lub przedszkola.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-green"></i>
              Ma trudności z nauką. Wysiłek, który wkłada w wykonywane zadania nie przynosi oczekiwanych efektów.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-purple"></i>
              Pojawiają się zachowania buntownicze, czasem agresywne lub wręcz przeciwnie
              - dziecko zaczyna się wycofywać, nie chce rozmawiać o szkole lub przedszkolu,
              jest bardzo nieśmiałe.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-yellow"></i>
              Ma trudności w uczeniu się na pamięć wierszy, tabliczki mnożenia itp.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-pink"></i>
              Niechętnie pisze, ma problemy z odtworzeniem szlaczków, figur geometrycznych.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-green"></i>
              NIe lubi zadań manualnych takich jak rysowanie, cięcie nożyczkami, sklejanie różnych elementów, nawlekanie koralików itp.
            </li>
            <li><i class="fa-li fa fa-caret-right neon-purple"></i>
              Czytanie, pisanie lub liczenie sprawia dziecku duże trudności.
            </li>
          </ul>
        </div>
      </li>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;
          Na czym polega terapia ręki?</a>
          <div class="accordion-content" data-tab-content>
            <p>Terapia ręki polega na usprawnieniu rozwoju manualnego dłoni,
              nadgarstka i palców, w tym poprawie napięcia mięśniowego dłoni.
              Prowadzi do wyćwiczenia precyzyjnych ruchów dłoni niezbędnych przy
              wielu czynnościach samoobsługowych, jak np. zapinanie guzików,
              wiązanie sznurowadeł, czy też czynnościach związanych z rysowaniem i pisaniem.
            </p>
            <p>
              W terapii stosowane są ćwiczenia graficzne i manualne oraz cwiczenia koordynacji wzrokowo ruchowej.
            </p>
          </div>
      </li>
</ul>
  </div>
</div>
