<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 large-5 columns">
      <p class="logo"><i class="fa fa-asterisk" aria-hidden="true"></i> | Pracownia Edukacyjna</p>
      <p class="footer-links">
        <a href="#">Kontakt</a>
        <a href="#">O nas</a>
        <a href="#">Oferta</a>
        <a href="#">Cennik</a>
        <a href="#">Baza wiedzy</a>
        <a href="#">Częste pytania</a>
      </p>
      <p class="copywrite">Paweł Targoński © 2017</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <ul class="contact">
        <li><p><i class="fa fa-map-marker" aria-hidden="true"></i>27-500 Opatów Świętokrzyski, ul. Gołębi Rynek 1</p></li>
        <li><p><i class="fa fa-phone" aria-hidden="true"></i>+1-656-453-9966</p></li>
        <li><p><i class="fa fa-envelope" aria-hidden="true"></i>pracownia@edualabs.pl</p></li>
      </ul>
    </div>
    <div class="small-12 medium-12 large-3 columns">
      <p class="about">O pracowni</p>
      <p class="about subheader">I jeszcze coś więcej o pracowni. Na przykład zachęcenie do kontaktowania się.</p>
      <ul class="inline-list social">
        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></i></a>
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a>
      </ul>
    </div>
  </div>
</footer>
