<div class="row expanded hero-section align-center">
  <div class="column small-12 hero-section__column align-self-middle">
    <h1>Profesjonalne wsparcie edukacji</h1>
    <hr>
    <h5>
      <span class="hero-section__text--pink"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Konsultacje dla rodziców i nauczycieli
      <span class="hero-section__text--yellow"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Warsztaty i szkolenia
      <span class="hero-section__text--green"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Pomoc dla dzieci z trudnościami w nauce
      <span class="hero-section__text--red"><i class="fa fa-asterisk" aria-hidden="true"></i></span> Rozwijanie zainteresowań i umiejętności
    </h5>
    <br>
    <a class="large button success button--cta" href="/">Nasza oferta</a>
    <div class="arrow-down animated infinite fadeIn">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
  </div>
</div>
