<div class="row expanded hero-section align-center align-middle">
  <div class="column small-12 hero-section__column">
    <h1>Profesjonalne wsparcie edukacji</h1>
    <hr>
    <h5>
      <span class="hero-section__text--pink"><i class="fa fa-asterisk" aria-hidden="true"></i> Konsultacje dla rodziców i nauczycieli</span>
      <span class="hero-section__text--yellow"><i class="fa fa-asterisk" aria-hidden="true"></i> Warsztaty i szkolenia</span>
      <span class="hero-section__text--green"><i class="fa fa-asterisk" aria-hidden="true"></i> Pomoc dla dzieci z trudnościami w nauce</span>
      <span class="hero-section__text--red"><i class="fa fa-asterisk" aria-hidden="true"></i> Rozwijanie zainteresowań i umiejętności</span>
    </h5>
    <br>
    <a class="large button success button--cta" href="/">Nasza oferta</a>
  </div>
</div>
