<nav class="navigation">
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="main-menu"></button>
    <div class="title-bar-title">Menu</div>
  </div>

  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><i class="fa fa-asterisk" aria-hidden="true"></i> | Pracownia Edukacyjna</li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu top-bar__submenu">
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">O nas</a></li>
        <li><a href="#" class='show-offer'>Oferta</a></li>
        <li><a href="#">Cennik</a></li>
      </ul>
    </div>
  </div>
</nav>
