<div class="row expanded small-up-1 align-center medium-up-2 large-up-3 offer-cards__section" data-equalizer>
    <div class="column">

        <div class="card" data-equalizer-watch>
            <div class="image" style="background: linear-gradient(
              to top,
              rgba(0,0,0, .60) 25%,
              rgba(0,0,0, 0) 80%
            ),url(/assets/img/konsultacje.jpg) no-repeat center center;">
                <span class="title">Konsultacje pedagogiczne</span>
            </div>
            <div class="content">
                <p><b>Zapraszamy do konsultacji w zakresie:</b></p><br>
                <p>
                  <span class="hero-section__text--yellow"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  rozwijania talentów i zainteresowań
                </p>
                <p>
                  <span class="hero-section__text--pink"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  wzmacniania prawidłowego rozwoju dziecka
                </p>
                <p>
                  <span class="hero-section__text--green"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  pomocy dzieciom z trudnościami w nauce (dysleksja, dysgrafia, dyskalkulia)
                </p>
                <p>
                  <span class="hero-section__text--red"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  edukacji dzieci niepełnosprawnych
                </p>
                <p>
                  <span class="hero-section__text--green"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                  profesjonalnej pomocy w nauczaniu domowym
                </p>
            </div>
            <div class="action">
                <a href='#'>Czytaj więcej</a>
            </div>
        </div>

    </div>
    <div class="column">

        <div class="card" data-equalizer-watch>
            <div class="content">
                <span class="title">Warsztaty edukacyjne</span>
                <p>Two roads diverged in a yellow wood, And sorry I could not travel both And be one traveler,
                  long I stood And looked down one as far as I could . To where it bent in the undergrowth;</p>
            </div>
            <div class="action">
                <a href='#'>Czytaj więcej</a>
            </div>
        </div>

    </div>
    <div class="column">

        <div class="card" data-equalizer-watch>
            <div class="image" style="background: linear-gradient(
              to top,
              rgba(0,0,0, .60) 25%,
              rgba(0,0,0, 0) 80%
            ),url(/assets/img/pomoc_w_nauce.jpg) no-repeat center center;">
                <span class="title">Pomoc w nauce</span>
            </div>
            <div class="content">
                <p>I shall be telling this with a sigh .
                  Somewhere ages and ages hence: Two roads diverged in a wood, and I — I took the one less traveled by.
                  And that has made all the difference.</p>
            </div>
            <div class="action">
                <a href='#'>Czytaj więcej</a>
            </div>
        </div>

    </div>
</div>
